<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {%load static%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'marks.css' %}">
  </head>
  <body>
    <div class="container">

    <div class="jumbotron" align='center'>
  <h1>Hello student!</h1>
  <p>Welcome to the site of vishal result for latest release results: </p>
  <a class="btn btn-primary btn-lg" href="addmarks" role="button">add marks</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="watchmarks" role="button">watch marks</a>


</div>
</div>

  </body>
</html>
